.container-fluid,
.listing-section {
  padding: 7% 10%;
}

.heading-2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
}

.car-details-box {
  padding: 1.875rem 1.25rem;
}

.item-img {
  width: 600px;
  height: 340px;
  background-color: grey;
}

.circle-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid black;
}

.mb-2 {
  margin-top: 1.5rem;
}

.user-profile {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9eaeb;
}

a {
  color: #2d8cf0;
  text-decoration: none;
  margin: 0 1rem;
}

.btn {
  width: 100%;
  margin: 1.2rem 0;
  justify-content: center;
}

.safety-tips-container {
  box-sizing: border-box;
  padding: 8px 0 8px 8px;
  background-color: #f2f6fb;
}

.safety-tips-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.safety-tips {
  font-size: 12px;
  margin-bottom: 6px;
  color: #31303a;
}

.listing-section {
  margin-bottom: 12px;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #e0e0e0;
}

.listing-details-table {
  display: grid;
  grid-template-columns: min-content auto;
  margin-top: 16px;
  font-family: inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  grid-row-gap: 16px;
}

.listing-details-table span {
  color: #717171;
  white-space: nowrap;
}

/* mobile styling */

@media only screen and (max-width: 600px) {
  .item-img {
    width: 345px;
  }
}

@media screen and (min-width: 1200px) {
  .listing-details-table {
    grid-column-gap: 48px;
  }
}

@media screen and (max-width: 1199px) {
  .je2-listing-details-table {
    grid-column-gap: 5px;
  }
}
