.listing-section {
  padding: 7% 10%;
}

.heading-2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
}

.car-details-box {
  padding: 1.875rem 1.25rem;
}

/* .img-box {
  width: 100%;
  height: 340px;
  background-color: grey;
} */

.carousel.carousel-slider {
  height: 400px;
}

.item-details-container{
  padding: 20px;
}

.circle-img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid black;
}

.mb-2 {
  margin-top: 1.5rem;
}


.user-profile {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9eaeb;
}

/* a {
  color: #2d8cf0;
  text-decoration: none;
} */

.btn {
  width: 100%;
  margin: 1.2rem 0;
  justify-content: center;
}

.btn a {
  color: white;
}


.contact-btn {
  width: 100%;
  margin: 0.2rem auto;
  /* height: 70px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.safety-tips-container {
  box-sizing: border-box;
  padding: 8px 0 8px 8px;
  background-color: #f2f6fb;
}

.safety-tips-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.safety-tips {
  font-size: 12px;
  margin-bottom: 6px;
  color: #31303a;
}

.listing-section {
  margin-bottom: 12px;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #e0e0e0;
}

.listing-details-table {
  display: grid;
  grid-template-columns: min-content auto;
  margin-top: 16px;
  font-family: inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  grid-row-gap: 16px;
}

.listing-details-table span {
  color: #717171;
  white-space: nowrap;
}

/* single page image css */
/* .carousel .slide img {
  width: 400px !important;
  height: 400px;
  border-radius: 5px;
} */
/* mobile styling */


@media screen  and  (min-width: 769px) {
  .container-fluid {
   padding: 4% 9% !important;
  }
 
}

@media screen and (max-width: 600px) {
  .item-img {
    padding: 10px 0;
  }

  .item-title-container{
    padding: 0 6%;
  }

  .item-details-container{
    padding: 6%;
  }

  .carousel.carousel-slider {
    height: 300px;
  }


}

/* @media screen and (min-width: 1200px) {
  .listing-details-table {
    grid-column-gap: 48px;
  }

} */

@media screen and (max-width: 1199px) {
  .je2-listing-details-table {
    grid-column-gap: 5px;
  }
}
